@media only screen and (max-width: 499px) {
  .logBtnOut {
    display: none;
  }

  .btnNavBarMenu {
    display: none;
  }

  .burger-menu {
    display: none;
    animation: openDiv 0.5s ease-in-out;
  }

  .btn {
    border: 0px;
    box-shadow: none;
    background-color: transparent;
    padding: 15px;
    margin: 0px;
    /* font-size: 25px; */

  }

  .burger-menu-item {
    border: 0px;

  }

  .burger-menu {
    border: 0px;
  }



}

@keyframes openDiv {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@media only screen and (min-width: 501px) {

  .btnNavBarMenu {
    display: flex;
  }

  .burger {
    display: none;
  }

}

/* @font-face {
  font-family: 'Welbut';
  src: url(./Welbut.ttf) format('truetype');
} */





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 2rem;
  margin: 0;
  background-color: rgb(255, 255, 255);
}


/*   ---   LOADING   ---    */

body {
  margin: 0;
  padding: 0;
  /* background:#262626; */
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #000000;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #ff0000;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.ring:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #ff0000;
  border-right: 3px solid #ff0000;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.loading {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.loading:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff0000;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #ff0000;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}


/*  ---   PROFILE   ---    */

.profilepicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-pic {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.containerProfile {
  margin-top : 10px;
}

.buttonProfile {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}