.navbar {
    display: flex;
    background-color: rgb(211, 211, 211);
    height: 80px;
    align-items: center;
    /* font-family: Welbut; */
}

.buttunLogIn {
    position: fixed;
    right: 0;
}

.logBtnIn {
    border: 1px solid green;
    color: green;
}

.buttunLogOut {
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
}

.logBtnOut {
    border: 1px solid red;
    color: red;
}

h1 {
    color: rgb(0, 0, 0);
    padding: 10px;
}

button {
    margin: 10px;
    padding: 1rem 0rem 1rem 0rem;
    width: 80px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: black;
    font-family: Welbut;

}

#burger {
    height: 40px;
}

.burger-menu-item {
    display: flex;
    justify-content: flex-end;
    size:20px;
    /* border-bottom: 1px solid black; */
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-image: linear-gradient(to right, white, white, rgb(185, 185, 185)) 1;

}

.burger-menu-item:hover { 
    background-color: rgb(185, 185, 185);
    border-width: 0px 0px 4px 0px;
    border-style: solid;
    border-image: linear-gradient(to right, white, white, rgb(185, 185, 185)) 1;
}
